body {
    margin: 0;
    background-color: #141414;
}

header {
    display: block;
    height: 70px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 42%, rgba(0,0,0,0) 95%);
}

#netflix-logo {
    height: 25px;
    width: auto;
    margin-left: 60px;
    margin-top: 25px;
}

.headline {
    display: flex;
    color: white;
    font-size: 75px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    justify-content: center;
    margin-right: 220px;
    margin-top: 150px;
}

.underline {
    display: flex;
    color: grey;
    font-size: 25px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    justify-content: center;
    margin-right: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.settings {
    display: flex;
    border-top: 1px solid rgba(128, 128, 128, 0.384);
    padding-top: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.384);
    padding-bottom: 30px;
}

#profile-picture {
    height: 175px;
    border-radius: 10px;
    margin-left: 657px;
}

.name {
    margin-top: 75px;
    margin-left: 20px;
}

.kid {
    color: white;
    margin-top: 74px;
    font-size: 25px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 5px;
}

.kid-checkbox {
    margin-top: 63px;
    margin-left: 20px;
    color: white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 25px;
}

#kid-checkbox {
    -webkit-appearance: none;
	background-color: #141414;
	border: 1px solid rgba(128, 128, 128, 0.384);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 20px;
	display: inline-block;
	position: relative;
}

#kid-checkbox:active, #kid-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

#kid-checkbox:checked {
    background-color: #141414;
	border: 1px solid #141414;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #141414;
}

#kid-checkbox:checked:after {
    content: '\2714';
	font-size: 30px;
	position: absolute;
	top: 0px;
	left: 10px;
	color: grey;
}